@use './login-page.scss';
@use './sidebar-style.scss';
@use './profile.scss';
@use './page404.scss';
@use './screen-mode.scss';
@use './reset.scss';
@use './contact-page.scss';
@use './uploader.scss';



@media screen and (max-width: 600px) {
  h3 {
    font-size: .8rem;
  } 
  .button-upload {
    font-size: 1.1rem;
  }
  .button-download {
    font-size: .8rem;
  }


}