  .container-creator {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    //justify-content:space-around;
    margin: 0 auto;

    //justify-content: center;
    //align-items: center;

  }
  
  .creator-card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
  }
  
  .creator-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 290px;
    height: 290px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
  }
  .creator-card .creator-card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;

  }
  .creator-card .creator-card-image img{
    display: block;
    width: 100%;

  }
  .creator-card:hover img {
    display: block;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
  }
  
  .creator-card:hover .creator-card-image {
    transform: translateY(-100px);
    transition: all 0.9s;
  }
  
  /**** Social Icons *****/
  .creator-social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
  }
  .creator-social-icons li {
    list-style: none;
  }
  .creator-social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
  }
  
  .creator-card:hover .creator-social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .creator-social-icons li a:hover {
    background: rgb(60, 76, 137);
    transition: 0.2s;
  }
  .creator-social-icons li a:hover .fab {
    color: #fff;
  }
  
  .creator-social-icons li a .fab {
    transition: 0.8s;
  }
  .creator-social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
  
  .creator-card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
  }
  
  .creator-card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
  }
  
  .creator-card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
  }
  
  .creator-card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
  }
  
  /**** Personal Details ****/
  .creator-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
  }
  .creator-details h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
  }
  .creator-details h2 .job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
  }
  