//404
.base-container404{
    background-color: rgb(17, 16, 28);
    color: white;

    #main404{
        display: table;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin: 0%;
    }
}


.container404{
    display: table-cell;
    vertical-align: middle;
    
    h1{
        color: var(--netflix-color-bg);
        font-family: 'Lato', sans-serif;
        display: inline-block;
        font-size: 50px;
        padding-right: 12px;
        animation: type .5s alternate infinite;
        font-style: italic;
    }

    h2 {
        color: var(--netflix-color-bg);
        font-family: 'Lato', sans-serif;
        font-size: 30px;
    }
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}