.profile-div {
    background-color: white;
    flex-wrap: wrap;
    border-style: groove;
    border-color: darkblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .profile-image-div{
        border-width: 5px;
        height: 100%;
    }

    .profile-info {
        margin-left: 10px;
        margin: 5px;
        .profile-info-item {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
            .profile-info-key{
                font-weight: bold;

            }
            .profile-info-value{
                padding-left: 10px;
                font-weight: normal;
            }
        }
    }
}

